/*############## Global ################*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: #2a0653;
   color: white;
   
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "h h h"
                         "m m m"
                         "f f f";
}

/*############## Header ################*/
header{
    grid-area: h;
    background-color: #0f083b;
    color: #eedf56;
    text-align: center;
    padding: 40px;
    border-radius: 25px;
    width: 70%;
    margin: 10px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1{
    display: inline;
}

header #h2symbol-1{
    display: inline;
    color: #f1da08;
    margin-left: 0%;
}

header #profession{
    color: #0099CC;
    display: inline;
    text-align: left;
    margin-left: 5%;  
}

header #frontend{
    color: white;
    display: inline;
    text-align: left;
}

header #h2symbol-2{
    color: #f1da08;
    text-align: left;
    padding-left: 28%;
}


header .fa_custom{   
    background-color: #0099CC;
}

header a{
    color: white;
}

header i{
    margin: 20px;
}

/*############## Main ################*/
main{
    grid-area: m;
}

.div-main{
    background-color: black;
    opacity: 0.75;
    width: 400px;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: -40px;
    font-weight: bold;
    font-size: 20px;
}

main div h1{
    text-align: center;
    color: yellowgreen;
    font-size: 40px;
}

/*############## Main div-images ################*/

main .div-images{
    background-color: yellowgreen;
    color: #eedf56;
    text-align: center;
    padding: 40px;
    border-radius: 25px;
    width: 70%;
    margin: -20px auto;
}


.div-images .completed{
    float: right;
    font-size: 6px;
    border: 5px ridge green;  
    background-color: green;  
    max-width: 200px;
    padding: 30px;
}

.div-images .working{
    float: right;
    font-size: 6px;
    border: 5px ridge red;  
    background-color: red;  
    max-width: 200px;
    padding: 30px;
}

.div-images .not-started{
    float: right;
    font-size: 6px;
    border: 5px ridge yellow;  
    background-color: yellow;  
    max-width: 200px;
    padding: 30px;
}

.challenge-card .completed p{
    font-weight: bold;
    color: white;
}

.challenge-card .working p{
    font-weight: bold;
    color: white;
}

.challenge-card .not-started p {
    font-weight: bold;
    color: black;
}


main img{
    max-width: 80%;
    max-height: 80%;
    border-radius: 15px;
    border: 5px solid black;
}

.div-images #img-ch-3{
    border: 5px red;
    border-style: ridge;
    
}

.div-images #working{
    font-weight: bold;
    font-size: 50px;
    color: red;
}

.div-images a{
    color: white;
}

.div-images h3{
    text-align: center;
    color:#0f083b;
    font-size: 30px;
}

.div-images p{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: black;

}

/*############## Footer ################*/

footer{
    grid-area: f;
    padding: 80px;
    text-align: center;
    font-size: 24px;
}