/*################### global #####################*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: hsl(0, 0%, 98%);
    margin: 0 auto;
    max-width: 200vh;    
}

body{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
/*################### header #####################*/
header{
    text-align: center;
    padding: 50px;
    margin-bottom: -30px;
    border: 1px solid black;
    margin-top: 10px;
}

header #h1slogan{
    font-weight: 200;
    color: hsl(229, 6%, 66%);
}

header #h1subslogan{
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

header p{
    color: hsl(229, 6%, 66%);
}
/*################### main #####################*/
main{
    margin-top: 50px;
    border: 1px solid red;
}

main h3 {
    color: hsl(234, 12%, 34%);
    font-weight: bold;
}

main p{
    color: hsl(229, 6%, 66%);
    padding: 10px;
}

/*### div-cards-container ###*/
.div-cards-container{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: ". tc ."
                         ". tc ."
                         "sc tc cc"
                         "sc kc cc"
                         "sc kc cc"
                         ". kc .";
    width: 80%;
    margin: 0 auto;
    border: 1px solid blue;
    justify-items: center;
    gap: 0 20px;
    
}
  
.cards{
    min-width: 350px;
    min-height: 250px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 0px hsl(229, 6%, 66%);
    margin-top: 10px;
    margin-bottom: 10px;
}

#card-supervisor{
    border-top: 4px solid hsl(180, 62%, 55%);
    grid-area: sc;
    justify-self: end;
    
}

#card-teambuilder{
    border-top: 4px solid hsl(0, 78%, 62%);
    grid-area: tc;
    align-self: flex-end;
}

#card-calculator{
    border-top: 4px solid hsl(212, 86%, 64%);
    grid-area: cc; 
    justify-self: flex-start;   
}

#card-karma{
    border-top: 4px solid hsl(34, 97%, 64%);
    grid-area: kc;
}

img{

}

/*################### footer #####################*/
footer{
    padding: 40px;
}

.attribution { 
     font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
